.map-container {
    position: relative;
    margin: 2rem auto;
    .map-display {
        max-height: 80vh;
        width     : 100%;
        .county {
            transition: fill .3s;
        }
    }

    .map-wrapper {
        position: relative;
    }


    .btn-group {
        padding        : 8px 0 16px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : 1rem;

        .btn {
            position     : relative;
            width        : 40px;
            height       : 40px;
            border-radius: 50%;
            background   : $primary;
            transition   : background .3s, box-shadow .3s;
            color        : white;
            font-size    : 20px;
            outline      : none;
            border       : none;

            &:hover {
                background: $accent;
                box-shadow: 0 0 10px rgba(0, 0, 0, .5);
                cursor    : pointer;
            }

            &.btn-zoom-out::after {
                content   : '';
                position  : absolute;
                width     : 50%;
                height    : 2px;
                background: white;
                left      : 25%;
                top       : calc(50% - 1px);
            }

            &.btn-zoom-in::after {
                content   : '';
                position  : absolute;
                width     : 50%;
                height    : 2px;
                background: white;
                left      : 25%;
                top       : calc(50% - 1px);
            }

            &.btn-zoom-in::before {
                content   : '';
                position  : absolute;
                width     : 2px;
                height    : 50%;
                background: white;
                left      : calc(50% - 1px);
                top       : 25%;
            }

            &[disabled] {
                background: lightslategrey;
                color     : black;
                cursor    : not-allowed;

                &:hover {
                    background: lightslategrey;
                    box-shadow: none;
                }
            }
        }
    }

    .__react_component_tooltip {
        background-color: white;
        color           : inherit;
        border-radius   : 0;
        padding         : 0;
        font-size       : 1.4rem;
        font-weight     : 400;
        box-shadow      : 0 0 10px rgba(0, 0, 0, .5);
        opacity         : 1;
        max-width       : 40vw;

        .tooltip-container>* {
            padding-inline: 1rem;
        }

        .tooltip-header {
            background : $primary;
            font-size  : 120%;
            font-weight: bold;
            color      : white;
            padding    : .5rem 1rem;
        }

        .tooltip-body {
            display       : flex;
            flex-direction: column;
            gap           : 1rem;
            padding       : 1rem;
            border        : 3px solid $primary;
        }

        p {
            padding: 0;
            margin : 0;
        }

        .payment {
            color: $accent;
        }

        b {
            color: black;
        }

        &::after {
            border-top-color: $primary !important;
        }

        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }

    .key {
        .key-colors {
            position        : absolute;
            left            : 0;
            top             : 0;
            width           : 20px;
            height          : 100%;
            background-image: linear-gradient(to bottom, #D9ED92, #B5E48C, #99D98C, #76C893, #52B69A, #34A0A4, #168AAD, #1A759F, #1E6091, #184E77)
        }
    }
}
