@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary: #184E77;
$accent : #34A0A4;

body {
    margin: 0;
}

#root {
    font-family    : Roboto, Helvetica, Arial, sans-serif;
    --primary-color: $primary;
    --accent-color : $accent;
}

.container {
    max-width: 1200px;
    margin   : 0 auto;
    padding  : 0 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.color-primary {
    color: $primary;
}

.color-accent {
    color: $accent;
}

.bg-primary {
    background-color: $primary;
}

.bg-accent {
    background-color: $accent;
}

.sr-only {
    position: absolute;
    width   : 1px;
    height  : 1px;
    padding : 0;
    margin  : -1px;
    overflow: hidden;
    clip    : rect(0, 0, 0, 0);
    white-space: nowrap;
    border  : 0;
}