.MapLegendSVG {
  font-family: "Roboto", sans-serif;
}
.legendText {
  font-size: 14px;
}
.legendTextSide {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #666;
}
@media (max-width: 1679px) {
  .legendText {
    font-size: 12px;
  }
  .legendTextSide {
    font-size: 12px;
  }
}
