.sideBar #filler{
  @media only screen and (min-width: 1096px) {
    height: 164px; /*180-16*/
  }
}
.halfWidthMainContent{
  @media only screen and (min-width: 1096px) {
    padding: 180px 160px 100px 400px;
  }
}

.halfWidthMainContent .categoryMapHeader, .halfWidthMainContent .eqipTotalMainHeader{
  @media only screen and (min-width: 1096px) {
    padding-top: 0px;
  }
}
