<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script async src="<%= process.env.GA_URL %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    var url = "<%= process.env.GA_URL %>";
    console.log("<%= process.env.REACT_APP_GA_URL %>"); //test only. remove after finish testing
    console.log("<%= process.env.APP_GA_URL %>"); //test only. remove after finish testing
    var regex = /id=(.*)/;
    var id = url.match(regex)[1];
    gtag('config', id);
  </script>
  <title>Policy Design Lab</title>
</head>

<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>

</html>
